// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
html {
  width: 100%;
}
.btn {
  border-radius: 0;
}
body {
  font-size: 10px;
  font-family: "helvetica" ;
  font-weight: 400;
}
p {
  // word-wrap: break-word;
}
.type-post img {
  filter: sepia(35%);
}
h1,h2,h3,h4,h5,h6,.navbar-brand {
  font-family: "helvetica";
  color: rgba(0,0,0,.78);
  font-weight: 400;
  letter-spacing: 1.5px;
}
h2 {
  font-size: 2.5rem;
}
.entry-content {
  font-family: "times new roman";
  letter-spacing: .4px;
  font-weight: 400;
  line-height: 1.45;
  margin: 0 auto 70px auto;
  color: rgba(0,0,0,.78);
  font-size: 1.3rem;
  p {
    margin-bottom: 1.3rem;
  }
}
.featured-image {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  width: 45%;
  height: 50vh;
  overflow: hidden;
  float: left;
  margin-bottom: 20px;
  float: left;
}
.featured-image img {
  width: 90%;
}
article.type-post {
  position: relative;
  margin-bottom: 50px;
  width: 70%;
  margin: 0 auto;
}
.type-post .entry-header {
  width: 55%;
  float: right;
  height: 60vh;
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 20px;
  border: 10px solid $secondary;
}
#navbarNavDropdown {
  // width: 50vw;
}
.navbar-brand-wrapper {
  margin: 55px auto 30px auto;
  width: 58%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
a.navbar-brand {
  background: white;
  width: 100%;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 4rem;
  color: black;
  margin: 0;
  line-height: .8;
}
.navbar {
  // height: 100vh;
  padding: 0;
  .container {
    padding: 0;
    margin: 0;
    display: block;
    height: 100%;
    width: 100%;
    max-width: none;
  }
}
#wrapper-navbar {
  width: 100%;
  text-align: center;
}
#main-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  height: auto;
  border-bottom: 10px solid black;
  .menu-item {
    // border-right: 4px solid black;
    flex-grow: 1;
    text-align: center;
    padding-bottom: 4px;
    font-size: 2.5rem;
    display: block;
    position: relative;
    height: 4rem;
    line-height: 4rem;
    &:hover {
      a {
        text-decoration: underline;
        color: $primary;
      }
    }
  .nav-link {
    display: inline;
    padding: 0;
    // position: absolute;
    // padding: 0;
    transition: transform .3s ease-in-out;
    &:hover {
        // transform: skew(17deg, 17deg);
      span {
        transform: rotate(-30deg);
      }
    }
    span {
      margin: 0 10px;
      display: inline-block;
      transition: transform .3s ease-in-out;
    }
  }
  }
}
#wrapper-footer {
  display: none;
}
.entry-title {
  margin-left: 0;
  margin-right: auto;
  font-size: 3rem;
  background: white;
  line-height: 1;
  word-wrap: break-word;
  width: 90%;
  letter-spacing: .5px;
  word-spacing: 5px;
}
.entry-meta {
  font-style: 3rem;
  transform: rotate(90deg);
  width: 100%;
  position: absolute;
  right: -122px;
  width: auto;
  top: 110px;
}
.page-template-default {
  .entry-header {
    width: 100%;
    text-align: center;
  }
}
body.home {
    .entry-header{ 
      display: none;
    }
  .entry-title {
    display: none;
  }
  .entry-content {
  }
  .entry-content h3 {
    font-size: 4rem;
    // font-style: italic;
  }
}

#single-wrapper .container {
  // max-width: none;
}

@media (min-width: 767.98px) {
  .home .navbar-brand-wrapper {
  display: block;
}
  #main-menu .menu-item.current-menu-item a {
    text-decoration: underline;
  }
}
@media (max-width: 767.98px) { 
  #main-menu .menu-item.current-menu-item a {
    background: unset;
    color: white;
  }
  .navbar-toggler {
    float: right;
  }
  .entry-content {
    width: 100%;
    padding: 0;
    p {
      font-size: 18px;
    }
  }
  .entry-meta {
    right: -116px;
  }
  .featured-image {
    // display: none;
  }
  article.type-post {
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }
  .type-post .entry-header {
    margin: 0 0 15px 0;
    padding: 0;
    width: 98%;
    float: left;
  }
  a.navbar-brand {
    width: 315px;
    font-size: 2.8rem;
  }
  .navbar-brand-wrapper {
    height: 30vh;
    width: calc(100% - 30px);
    margin: 10px 15px 0 15px;
    a {
      width: 100%;
    }
  }
  .entry-title {
    margin-left: 7px;
    font-size: 2.8rem;
  }
  .wrapper {
    padding-top: 20px;
  }
}
@media (max-width: 568px) {
  #main-menu {
    flex-direction: column;
    width: 300px;
    margin-left: 15px;
    border: none;
  }
  .navbar {
    background: $secondary;
  }
  .navbar-toggler {
    padding-bottom: 9px;
    padding-top: 8px;
  }
  .navbar-toggler .fa-bars {
    background: white;
    color: $secondary;
    font-size: 2.2rem;
    font-weight: 300;
  }
  .nav-link {
    background: white;
  }
  .navbar-brand-wrapper {
    border-top: 10px solid white;
  }
}